
.container {
  justify-content: center;
  padding: 2rem;
}

h1.display-2 {
  text-align: center;
}

h2.center {
  text-align: center;
}

p.center {
  text-align: center
}

.calculator {
  justify-content: center;
  margin:auto;
  padding: 8px;
  border: 3px solid black;
  border-radius: 1rem;
  width: 400px;
}

.screen {
  border: 3px solid black;
  border-radius: 1rem;
}

.items {
  border: 3px solid black;
  border-radius: 1rem;
  margin-top:8px;
}

/* remove and code into react */
/* total button size 68px */
.temp-button {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 64px;
  height: 64px;
  border: 2px solid black;
  border-radius: 50%;
}
