
.container {
  justify-content: center;
  padding: 2rem;
}

.center {
  text-align: center
}

.calculator {
  justify-content: center;
  margin:auto;
  padding: 8px;
  border: 3px solid black;
  border-radius: 1rem;
  width: 400px;
}

.screen {
  border: 3px solid black;
  border-radius: 1rem;
}

.items {
  border: 3px solid black;
  border-radius: 1rem;
  margin-top:8px;
  display: flex;
  flex-flow: wrap;
}

/* remove and code into react */
/* total button size 68px */
.temp-button {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
}

.temp-bottom-a {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 174px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
}

.temp-bottom-b {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
}
