
.container {
  justify-content: center;
  padding: 2rem;
}

.center {
  text-align: center
}

.calculator {
  justify-content: center;
  margin:auto;
  padding: 8px;
  border: 3px solid black;
  border-radius: 1rem;
  width: 400px;
}

.screen {
  border: 3px solid black;
  border-radius: 1rem;
}

.items {
  border: 3px solid black;
  border-radius: 1rem;
  margin-top:8px;
  display: flex;
  flex-flow: wrap;
}

.special-func {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #bdbdbd;
  color: black;
}

.func {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #ffb521;
  color: white;
}

.func-b { /* b refering to bottom */
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #ffb521;
  color: white;
}

.num {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #4a4a4a;
  color: white;
}

.num-z { /* z refering to 0 */
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 174px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #4a4a4a;
  color: white;
}

.decimal {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #4a4a4a;
  color: white;
}

.num:active {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #b0b0b0;
  color: white;
}

.num-z:active {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 174px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #b0b0b0;
  color: white;
}


.decimal:active {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #b0b0b0;
  color: white;
}

.func:active {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #ffdc96;
  color: white;
}

.func-b:active { /* b refering to bottom */
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #ffdc96;
  color: white;
}

.func-select {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: white;
  color: #ffdc96;
}

.func-b-select {
  margin-left: 8px;
  margin-top: 8px;
  margin-bottom: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: white;
  color: #ffdc96;
}

.special-func:active {
  margin-left: 8px;
  margin-top: 8px;
  width: 83px;
  height: 83px;
  border: 3px solid black;
  border-radius: 2rem;
  font-size: 200%;
  font-weight: bold;
  background-color: #e6e6e6;
  color: black;
}

.text {
  margin: auto;
  text-align: center;
  font-weight: bold;
}
